@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0px;
    padding:0px;
}
/* ----color-----*/
body{
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}
.slide1
{

background-color: antiquewhite;
}

nav
{
padding: 20px;
}
.imglogo 
{

display:inline;
margin-top: 20px;
    
}
.head,.imglogo,.nav-link
{
    display: inline;
}
.nav-link
{
color: black;
padding: 20px;
}
.head,.nav-link:hover
{
  cursor: pointer;
  border-width: 10px;
  border-color:lightsalmon;

}
.head,.nav-link,ul,li
{
    display: inline;
     border-color:solid;
  border-width: 10px;
}
ul
{
    
    margin-left: 35%; 
  
}
li
{
    font-weight:bold;
    text-transform: capitalize;
    color: black;
}
li:hover
{

    border-style: solid;
    background-color:orangered;
    color:white;
}

.body-content
{
    
    padding-top:60px ;
    text-wrap: 30ch;
    text-indent: 1.5em;
    padding:60px;
    padding-left: 35px;

}
.heading
{
     
     margin-right:50ch;
    font-size:30px;
    font-weight: 30;
    padding:60px;
    height: 30px;
}

.detail
{

margin-right: 62ch;
font-size:20px;
font-weight: 20;
padding:60px;
}

.photo
{ 
display:flex;
flex-direction: row-reverse;
text-wrap: wrap;
padding-right: 30px;

}
.person
{
border-radius:50%;
    
}
.views
{
color: orangered;
text-align: center;
position: absolute;

}
.process
{
    color: black;
}

.btn-one
{
text-align: left;
position:relative;
 color: lightsalmon;
 padding: 20px;
}
.btn-orange
{   
    position:relative;
     padding-left:40px;
     font-size:30px;
     font-weight:30;
     text-transform: capitalize;
     color: black;
}
.btn-orange:hover
{
background-color: orangered;
}
.btn-light
{
     padding-left:40px;
     font-size:30px;
     font-weight:30;
     text-transform: capitalize;
      color: black;
}
.btn-light:hover
{
    cursor: pointer;
 border-width: 10px;
 border-color: lightsalmon;
}


.slide2
{
text-align: center;
}
.title
{
font-size: 20;
}
.comlogo
{
    display: inline;
    margin-right: 20px;
    font-size: 100;
}
.phone
{
    text-align: left;
    font-size: 20px;
   font-weight: 20;
}
.make
{ 
    text-align: left;
    font-size:50px;
    font-weight:bold;
}
.imgph1
{
     background-color:lightsalmon;
     border-radius:60%;
    margin-left:70%;
}
.number1
{
    text-align: left;
    font-size: 100px;
    color: grey;
    margin:60px;
   
}
.text1
{
     text-align: left;
     font-weight: 50px;
    font-size: 50;
    margin-left: 50px;
}
.text4
{
text-align: left;
   margin-right:115ch;
    font-size:15px;
    font-weight:20;
    margin-left: 50px;
}
.imgph2
{
     background-color:lightsalmon;
     border-radius:60%;
     margin-right: 70%;
}
.number2
{
    text-align: right;
    font-size: 100px;
    color: grey;
    margin:60px;
   
}
.text2
{
     text-align:right;
     font-weight: 50px;
    font-size: 50;
    margin-right: 50px;
}
.text5
{
    
    text-align:left;
     margin-left:115ch;
    font-size:15px;
    font-weight:20;
    margin-right: 50px;
}
.imgph3
{  
      background-color:lightsalmon;
     border-radius: 60%;
     margin-left: 70%;
}
.number3
{
    text-align: left;
    font-size: 100px;
    color: grey;
    margin:60px;
   
}

.text3
{
     text-align:left;
     font-weight: 50px;
    font-size: 50;
    margin-left: 50px;
}
.text6
{
    text-align:left;
    margin-right:115ch;
    font-size:15px;
    font-weight:20;
    margin-left: 50px;
    
}
.menu
{
    

}
.sec
{
    margin-top: 10px;
    margin-bottom: 10px;
color: orangered;
text-align: center;
}
.topic
{
     margin-top: 10px;
    margin-bottom: 10px;
color: black;
text-align: center;
}
.sec1
{    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: left;
    background-color: whitesmoke;
    display: grid;
grid-template-columns: reverse-column;
grid-area: span;
}
.type
{
border:10px;
border-color: rgb(43, 190, 43); ;
border-radius: 90%;
color: black;
}
.veg1
{

}
.sec2
{    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    background-color: whitesmoke;
    display: grid;
grid-template-columns: reverse-column;
grid-area: span;
}
sec3
{
    float:right;
}

.para
{
    color: orangered;
}
