@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0px;
    padding:0px;
}
 /*----color-----*/
body{
 font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    position:relative;
    height: 100vh;
}
.slide1
{
    background-color: antiquewhite;
   
 }
.imglogo
{
    margin-top: 20px;
}
.head,.imglogo,.nav-link
{

    display: inline;
    margin-top: 20px;
    
}
.nav-link
{
  padding: 20px;
  text-transform: capitalize;
  font-size:50px;
  font-weight: 50;
}
.head,.nav-link,ul,li
{
    display: inline;
    border-width: 10px;
}
ul
{
margin-left: 45%;
}
a
{
      color:black;
      text-decoration: none;
}

.nav-link1
{    
    
     background-color: #f77f00;
     color:black;
     font-size: 18px;
     font-weight: 47;
      border-radius: 13%;
      padding: 1rem;
      padding: 5px 10px;
     
}
.nav-link1:hover
{
    border-width: 10px;
    color:lightsalmon;
    border-style: solid;
    cursor:pointer;
    padding: 5px 10px;
}
.nav-link2
{   
     color:black;
     font-size:18px;
     font-weight: 47;
     padding: 5px 10px;
}
.nav-link2:hover
{
border-width: 10px;
border-style: solid;
color: rgb(221, 141, 110);
cursor:pointer;
}
.imglogo:hover
{
    border-width: 10px;
border-style: solid;
color: rgb(221, 141, 110);
cursor:pointer;
}
.body-content
{
    text-align: left;
    padding-top:60px ;
    text-wrap: 30ch;
    text-indent: 1.5em;
    padding:60px;
    padding-left: 35px;
  
}
.heading
{
     
     margin-right:27ch;
     text-indent:0;
    font-size:48px;
    font-weight: bold;
    padding: 55px;
    padding-top:30px ;
    padding-left:10px;
    height: 20px;
}

.detail
{

margin-right: 42ch;
font-size:23px;
text-indent:0;
font-weight: 20;
padding:160px;
padding-left: 10px;
color: grey;
}
.hero
{
position: absolute;
top:100px;
right:100px;
transition:translateY(-100%,-100%);
}

.btn-one
{
 
display: flex;
align-content: left;
justify-content: center;
 color: lightsalmon;
 padding-left: 20px;
 align-items: left;

}
.btn-orange
{
     display: inline;
     padding-left:40px;
     font-size:30px;
     font-weight:30;
    background-color: rgb(226, 82, 29);
     
}
.btn-orange:hover
{
    border-width: 10px;
    border-style: solid;
    color: rgb(221, 141, 110);
    cursor:pointer;

}
.btn-light
{
     padding-left:15px;
     font-size:30px;
     font-weight:30;
     text-transform: capitalize;
      color: black;
}
.btn-light:hover
{
border-width: 10px;
border-style: solid;
color: rgb(221, 141, 110);
cursor:pointer;
}
.views
{
color: orangered;
text-align: center;
position: relative;

}
.person
{
border-radius:50%;
    
}
h4
{
    color: black;
}
.person,.views,h4
{
display: inline;
}



.slide2
{
text-align: center;
}
.title
{
font-size: 10;
font-weight: 20px;
margin-top: 10px;
}
.comlogo
{    display: flex;
    align-items: center;
    justify-content: space-around;
     padding-top:10px;
    display: inline;
    margin-right: 20px;
    font-size: 100;
   

}
.phone
{
    text-align: left;
    font-size: 20px;
   font-weight: 20;
}
.make
{ 
    text-align: left;
    font-size:50px;
    font-weight:bold;
}
.imgph1
{
     background-color:lightsalmon;
     border-radius:60%;
    margin-left:70%;
}
.number1
{
    text-align: left;
    font-size: 100px;
    color: grey;
    margin:60px;
   
}
.text1
{
     text-align: left;
     font-weight: 50px;
    font-size: 50;
    margin-left: 50px;
}
.text4
{
text-align: left;
   margin-right:115ch;
    font-size:15px;
    font-weight:20;
    margin-left: 50px;
}
.imgph2
{
     background-color:lightsalmon;
     border-radius:60%;
     margin-right: 70%;
}
.number2
{
    text-align: right;
    font-size: 100px;
    color: grey;
    margin:60px;
   
}
.text2
{
     text-align:right;
     font-weight: 50px;
    font-size: 50;
    margin-right: 50px;
}
.text5
{
    
    text-align:left;
     margin-left:115ch;
    font-size:15px;
    font-weight:20;
    margin-right: 50px;
}
.imgph3
{  
      background-color:lightsalmon;
     border-radius: 60%;
     margin-left: 70%;
}
.number3
{
    text-align: left;
    font-size: 100px;
    color: grey;
    margin:60px;
   
}

.text3
{
     text-align:left;
     font-weight: 50px;
    font-size: 50;
    margin-left: 50px;
}
.text6
{
    text-align:left;
    margin-right:115ch;
    font-size:15px;
    font-weight:20;
    margin-left: 50px;
    
}
.menu
{
    

}
.sec
{
    margin-top: 10px;
    margin-bottom: 10px;
color: orangered;
text-align: center;
}
.topic
{
     margin-top: 10px;
    margin-bottom: 10px;
color: black;
text-align: center;
}
.sec1
{    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: left;
    background-color: whitesmoke;
    display: grid;
grid-template-columns: reverse-column;
grid-area: span;
}
.type
{
border:10px;
border-color: rgb(43, 190, 43); ;
border-radius: 90%;
color: black;
}
.veg1
{

}
.sec2
{    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    background-color: whitesmoke;
    display: grid;
grid-template-columns: reverse-column;
grid-area: span;
}
sec3
{
    float:right;
}

.para
{
    color: orangered;
}
